<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Log in|Blog</title>
    <link rel="stylesheet" href="static/css/login.css">
    <style type="text/css">
    </style>

</head>
<body>
    <div id="login_bg" class ="login_bg" style="background-image: url(static/images/timg.jpg)"></div>
    <div class="login_header">
    	<span></span>
    </div>

    <div class="container">
    	<div class="form_header">
        	<h1 id="logo">Blog</h1>
			<h2 id="subheading">To explore and discover</h2>
        </div>
        <div class="signup_forms" class="signup_forms">
            	<div id="signup_forms_container" class="signup_forms_container">
                    	<form class="signup_form_form" id="sign_form">
                        	<div class="signup_account" id="signup_account">
                            	<div class="form_user">
        							<input type="text" name="email" placeholder="Email" id="signup_email">
                                </div>
                                <div class="form_password">
           							<input type="password" name="password" placeholder="Password" id="signup_password">
        						</div>
                            </div>
                            <div>
               					 <button type="submit" id="signup_forms_submit"><span><strong>Log in</strong></span></button>
            				</div>
                        </form>

    			</div>
    	</div>
    </div>
    <div class="footer">
    	<div class="footer_signup_link">
        	<a class="signup_link" href="register.html">Sign up</a>
            <a href="https://www.baidu.com" target="_blank" class="link unnamed_1">Patent</a>
            <a href="#" target="_blank" class="link unnamed_2">About</a>
        </div>
        <div class="design_show">
        	<div class="designer_info">
            	<a href="#">Designed by Class 2 Software 11 <strong>Ray</strong></a>
                <a href="#" target="_blank" class="face"><img id="face" src="static/images/avatar.jpg" alt="designed by RayZhang"/></a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.form.min.js"></script>
    <script src="static/js/my_blog/login.js"></script>
</body>
</html>