<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Sign up|Blog</title>
{#        <link rel="stylesheet" href="js/jquery-easyui/themes/default/easyui.css" type="text/css">#}
{#        <link rel="stylesheet" href="js/jquery-easyui/themes/icon.css" type="text/css">#}
        <link rel="stylesheet" href="static/css/register.css">
        <style type="text/css">

        </style>
    </head>
    <body>
        <div id="login_bg" class="login_bg" style="background-image:url(static/images/register_bg.jpg);"></div>
        <div class="login_header">
            <span></span>
        </div>
        <div class="container">
            <div class="form_header">
                <h1 id="logo">Blog.</h1>
                <h2 id="subheading">To follow me,just sign up</h2>
            </div>
            <div class="signup_forms" class="signup_forms">
                <div id="signup_forms_container" class="signup_forms_container">
                    <form class="signup_form_form" id="sign_form">
                        <div class="signup_account" id="signup_account">
                            <div class="form_user">
                                <input type="text" name="email" placeholder="Email" id="signup_email">
                            </div>
                            <div class="form_username">
                                <input type="text" name="username" placeholder="Username" id="signup_username">
                            </div>
                            <div class="form_password">
                                <input type="password" name="password" placeholder="Password" id="signup_password">
                            </div>
                            <div class="form_confirm_password">
                                <input type="password" placeholder="Confirm the password" id="signup_confirm_password">
                            </div>
                        </div>
                        <div>
                        <button type="submit" id="signup_forms_submit">
                            <span style="font-size:16px;">
                                <strong>Sign up</strong>
                            </span>
                        </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
<div class="footer">
    <div class="footer_signup_link">
        <a class="signup_link" href="login.html">Log in</a>
        <a href="https://www.baidu.com" target="_blank" class="link unnamed_1">Contact</a>
        <a href="#" target="_blank" class="link unnamed_2">About</a>
    </div>
    <div class="design_show">
        <div class="designer_info">
            <a href="#">
                Designed by Class 2 Software 11 <strong>Ray</strong>
            </a>
            <a href="#" target="_blank" class="face">
                <img id="face" src="static/images/avatar.jpg" alt="designed by RayZhang"/>
            </a>
        </div>
    </div>
</div>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.form.min.js"></script>
    <script src="static/js/my_blog/register.js"></script>
</body>
</html>
